# Ignore Python environment
venv/
__pycache__/

# Ignore build artifacts and large files
*.tgz
*.zip
*.pyz
*.db
*.png
*.jpg
*.jpeg

# Ignore sensitive files
.env

# Ignore TON build
ton/

# Ignore runtime JSON data
users.json
transactions.json
data/users.json
data/transactions.json
